
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}

h3 {
  color: rgba(200, 100, 250, .5);
  font-size: 100%;
}

aside h3 {
  font-size: 200%;
}

p {
  color: rgba(250, 250, 100);
}

p[class^="important"] {
  padding: .5rem;
  border: 20px dotted;
  border-color: rgba(160, 200, 250, 50%);
}

li::first-letter{
  font-size: 150%;
  color: rgba(255, 250, 250, 90%);
}


body {
  background-color: rgba(200, 200, 250);
}
.purple-text {
   color: rgba(200, 100, 250, .8);
}
.important {
  font-weight:bold;
}
.important:hover {
  background-color: rgb(160, 200, 250);
}
#lead-paragraph {
  color: purple;
  font-weight: normal;
}
a[href="index.html"] {
  padding: 0.05rem;
  background-color: rgb(160, 200, 250);
}
a[href="secondpage.html"] {
  padding: 0.05rem;
  background-color: rgb(160, 200, 250);
}

a[href="semantic-elements-lesson-2.html"] {
  padding: 0.05rem;
  background-color: rgb(160, 200, 250);
}
a[href="future-assignment-number-3.html"] {
  padding: 0.05rem;
  background-color: rgb(160, 200, 250);
}
a[href="future-assignment-number-4.html"] {
  padding: 0.05rem;
  background-color: rgb(160, 200, 250);
}

a{
  text-decoration: none;
}

nav a {
  text-decoration: overline;
  color: rgb(250, 250, 250);
}

nav a:visited {
  color: rgba(250, 90, 110, 0.9);
}

h1 {
  color: purple;
  border-style: solid;
  border-width: 15px;
  border-color: rgb(160, 200, 250);
  font-family: 'Open Sans', sans-serif;
}
p.important {
  width: 50%;
}
img {
  border-style: dotted;
  border-width: 5px;
  border-color: rgb(250, 250, 100);
  width: 20%;
}

.front-page {
  background: pink;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  border-style: groove;
  border-color: white;
}

article {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  flex-direction: row;
}


article:hover {
  font-size: 115%;
}

article {
  transition-property: font-size;
  transition-duration: 1s;
  transition-timing-function: ease-out;
  transition-delay: 2s;
}

.front-page li:nth-child(3n+1) {
  background-color: rgba(250, 90, 110, 0.4);
}

.fa-tree {
  color: white;
}

.fa-mountain {
  color:grey;
}
